form {
  padding: 1rem;
}

main {
  display: flex;
}

.bank {
  border: 3px solid black;
  width: 200px;
  flex-shrink: 0;
  height: 500px;
  padding: 1rem;
  position: relative;
}

.river {
  background: rgb(186, 211, 244);
}

.sheep {
  position: absolute;
  transition: left 0.05s linear, top 0.05s linear;
  transform: scale(2.5);
  cursor: pointer;
  pointer-events: auto;
  user-select: none;
}
